.navbar{
    display: flex;
    background-color:#FF8225 ;
}
ul li{
    list-style: none;
    display: inline;
    margin: 20px;
}
body{
    margin: 0;
    background-color: #F8EDED;
}
footer{
    margin-top: 40%;
    background-color: #FF8225;
    text-align: center;
    display: flex;
    
}
.copyRigtLogo{
    width: 20px;
    margin-left: 50%;
    margin-top: 13px;
    margin-right: 10px;  
}
.main{
    display: flex;
    margin-left: 1.5%;
}
.container{
    margin-left:3%;
    background-color: #FF8225;
    /*border: 3px solid transparent;
    border-image: linear-gradient(to right,#FF8225,#df945b);
    border-image-slice: 1;*/
    border-radius: 10%;
}
.container img{
    width: 200px;
    height:200px;
    border-radius: 10%;

}
.rowRecepie{
    margin-left: 4.5%;
}


.foodstyle p{
    margin-left:13%;
    border-radius: 50px;
}
