* {
    margin:0;
    padding: 0;
}
.navbar li{
    margin: 10px;
}
.navbar a{
    color: white;
    font: 1em sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
.qualification{
    font: 2em oblique;  
}
.heading{
    color: #379777;
    font-weight: bold;
}
.profile_content{
    margin-top: 200px;
}

.git-link{
    background-color: #379777;
    color: white;
}

@media only screen and (max-width:425px) {
    .profile_content{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
}